/* Header styles */
.header {
  background-color: #007bff;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

/* Main content styles */
.content {
  margin-top: 2rem;
}

/* Map container styles */
.map-container {
  text-align: center;
}

.footer {
  margin-top: 17%;
  background-color: #343a40;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
}